<h2>Detail View</h2>

<p>Sort By :</p>

<div id="algo1">
  <table border="3">
  	<tr>
  	  <th width="20%">Product ID</th>
  	  <th width="20%">User ID</th>
  	  <th width="20%">Viewed At</th>
    </tr>
    <% unless @allview.nil? %>
      <% @allview.each do |v| %>
        <tr>
          <td><%= v.product %></td>
          <td><%= v.user %></td>
          <td><%= v.created_at %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<h3>Most View</h3>