<h2>Detail Bought</h2>

<p>Sort By :</p>

<div id="algo1">
  <table border="3">
    <tr>
      <th width="20%">Product ID</th>
      <th width="20%">User ID</th>
      <th width="20%">Boughted At</th>
    </tr>
    <% unless @allbought.nil? %>
      <% @allbought.each do |b| %>
        <tr>
          <td><%= b.product %></td>
          <td><%= b.user %></td>
          <td><%= b.created_at %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<h3>Most Bought</h3>